<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>

    <header id="header"></header>

    <main>
       <header>
           <h1>첫번째 글</h1>
       </header>

        <aside>
            <p>jinwoo</p>
            <p><a href="http://www.github.com/upbreak">http://www.github.com/upbreak</a></p>
            <p><time datetime="2024-01-08T00:00:00">2024-01-08</time></p>
            <p>#java</p>
        </aside>

        <section>
            <p>본문<br><br></p>

            <div>
                <form>
                    <label for="articleComment" hidden></label>
                    <textarea id="articleComment" placeholder="댓글 쓰기"></textarea>
                    <button type="submit">쓰기</button>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2024-01-08</small></time>
                            <strong>jinwoo</strong>
                            <p>
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav class="page-pagination" role="navigation">
                <a class="page-previous" href="#">이전 글</a>
                <a class="page-next" href="#">다음 글</a>
            </nav>
        </section>
    </main>

    <footer id="footer"></footer>

</body>
</html>